*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

:root{
    --color1: #ffffff;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    width: 100%;
}


/*Modules*/

.flex-center-row-sb{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.flex-center-row-sa{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.flex-center-column{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.w90-mauto{
    width:90%;
    margin:auto;
}

.w95-mauto{
    width:95%;
    margin:auto;
}

.entry-style1{
    padding: 8px;
    background-color: #ffffff;
    color:black;
    border-radius: 7px;
    border:none;
    font-size: 0.9rem;
}

.entry-style1:focus{
    outline: none;
}

.entry-style1::placeholder{
    color:gray;
    font-weight: 500;
}

.btn-style1{
    padding: 8px;
    background-color: blue;
    color:white;
    border-radius: 7px;
    cursor:pointer;
    border:none;
    
}

.btn-style1:hover{
    background-color: #4949f3;
}

.btn-style1:focus{
    outline: none;
}

/* End Modules */


/*Custom Styles*/

.main-header{
    height: auto;
    background-color: brown;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 3px brown;
}

.personal-photo{
    width: 120px;
    height: auto;
    margin:10px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 1px #1b1b1b;
}

.main-header nav ul li{
    margin:20px;
    height: auto;
}

.main-header nav ul li a{
    font-size: 1rem;
    color: var(--color1);
    padding-bottom: 5px;
}

.main-header nav ul li a:hover{
    color: var(--color1);
    border-bottom: solid 1px var(--color1);
}

/* */

.main-section{
    margin-top: 20px;
    background-color: #4949f3;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 3px #4949f3;
}

.hero{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: aquamarine;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 3px aquamarine;
}

.hero div h1{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2rem;
}

.hero div p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
}

.hero div img{
    margin-top: 20px;
    max-width: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px black;
}



