*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

:root{
    --color1: #ffffff;
    --color2: #ff7a00;
    --color3: #d2a479;
    --color4: #10171d;
    --color5: #3e3936;
    --color6: #494a4c;
    --color7: #848484;
    --color8: #0085ff;
    --color9: #4ebccb;
    --color10:#00FF79;
    --color11: #0f0f0f;
}

body{
    width: 100%;
    background-color: var(--color11);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h1,h2,h3{
    font-weight: 900;
}

/*Modules*/

.flex-center-row-sb{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.flex-center-row-sa{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.flex-center-column{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}


.w90-mauto{
    width:90%;
    margin:auto;
}

.w95-mauto{
    width:95%;
    margin:auto;
}

.entry-style1{
    padding: 8px;
    background-color: var(--color7);
    color: var(--color1);
    border-radius: 7px;
    border:none;
    font-size: 0.9rem;
}

.entry-style1:focus{
    outline: none;
    box-shadow: 0px 0px 3px 1px var(--color5);
}

.entry-style1::placeholder{
    color:var(--color1);
    font-weight: 500;
}

.btn-style1{
    padding: 8px;
    background-color: var(--color8);
    color:var(--color1);
    border-radius: 7px;
    cursor:pointer;
    border:none;
    transition: all 0.5s;
}

.btn-style1:hover{
    background-color: var(--color9);
}

.btn-style1:focus{
    outline: none;
    background-color: var(--color9);
}

.btn-fx1:hover{
    animation: btn-fx-press 0.5s ease;
}

.fx-amp-5{
    transform: scale(1);
    transition: transform 0.5s;
}

.fx-amp-5:hover{
    transform: scale(1.05);
}

/* End Modules */


/*Custom Styles*/

.main-header{
    position: fixed;
    top: 0;
    z-index: 1;
    height: auto;
    background-color: var(--color4);
    margin-top: 10px;
    border-radius: 10px;
}

.personal-photo{
    width: 120px;
    height: auto;
    margin:10px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 1px #1b1b1b;
}

.personal-photo:hover{
    animation: giro infinite 4s ease;
}

.main-header .burguer-btn{
    color: var(--color1);
    font-weight: 900;
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
}

.main-header nav ul li{
    margin:20px;
    height: auto;
}

.main-header nav ul li a{
    font-size: 1rem;
    color: var(--color1);
    padding-bottom: 5px;
    transition: all 0.5s;
}

.main-header nav ul li a:hover{
    color: var(--color2);
    border-bottom: solid 1px var(--color2);
}

.main-search-bar-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap:5px;
}

.main-search-bar-form input{
    width: 200px;
}


/* */

.main-section{
    margin-top: 180px;
    background-color: var(--color4);
    height: auto;
    border-radius: 10px;
}

.hero{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--color4);
    height: auto;
    border-radius: 10px;
}

.info-hero-container{
    background-color: var(--color6);
    border-radius: 10px;
}

.hero div h1{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    color: var(--color2);
}

.hero div p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    color: var(--color1);
    text-align: center;
}

.hero-btn-container{
    padding-left: 15%;
    padding-right: 15%;
}

.hero div div button{
    margin-bottom: 20px;
}

.hero div img{
    margin-top: 20px;
    max-width: 500px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 2px var(--color11);
}

.mission-vision-section{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--color6);
    height: auto;
    border-radius: 10px;
}

.mission-vision-section h2{
    margin-top: 20px;
    font-size: 1.5rem;
    color: var(--color2);
}

.mission-vision-section span{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    color: var(--color1);
}

/*Advantages*/

.advantages{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--color6);
    height: auto;
    border-radius: 10px;
}

.advantages h2{
    margin-top: 20px;
    font-size: 1.5rem;
    color: var(--color2);
    text-align: center;
}

.advantages-cards-section{
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.advantages span{
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--color1);
    text-align: center;
}

.advantages div p{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.advantages div{
    margin-top: 0;
    height: auto;
    margin-bottom: 0;
    background-color: var(--color1);
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px var(--color11);
    align-self: stretch;
    cursor:pointer;
}

.advantages div img{
    margin-top: 20px;
    max-width: 100px;
}

.advantages div h3{
    margin-top: 20px;
    font-weight: 900;
    text-align: center;
    font-size: 1.2rem;
}

/* #################### */
/* Products Section */

.products{
    margin-top: 20px;
    background-color: var(--color4);
    border-radius: 10px;
}

.products-section{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--color6);
    height: auto;
    border-radius: 10px;
}

.products-section h2{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color:var(--color2);
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-products-form{
    gap: 5px;
    margin-bottom: 20px;
}

.products-cards-container{
    height: 600px;
    overflow: scroll;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: space-between;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.products-cards-container div{
    background-color: var(--color5);
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.products-cards-container div h3{
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--color10);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.products-cards-container div p{
    text-align: center;
    color: var(--color7);
    font-weight: 500;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.products-cards-container div img{
    max-width: 200px;
    max-height: 190px;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.products-cards-container div b{
    font-weight: 900;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--color1)
}

.products-cards-container div form{
    margin-top: 20px;
    margin-bottom: 20px;
    gap:10px;
}

.products-cards-container div form input{
    max-width: 60px;
}


/* Custom SCROLL BAR */
.products-cards-container::-webkit-scrollbar{
    display: block;
    width: 12px;
    height: 12px;
}

.products-cards-container::-webkit-scrollbar-track {
    background: var(--color5);
    border-radius: 10px;
    box-shadow: inset 0 0 5px var(--color4);
}

.products-cards-container::-webkit-scrollbar-thumb {
    background: var(--color9);
    border-radius: 10px;
}

.products-cards-container::-webkit-scrollbar-corner{
    display: none;
}

/* botones de desplazamiento */
.products-cards-container::-webkit-scrollbar-button{
    display: block;
    height: 10px;
    width: 10px;
    border-style: solid;
}
.products-cards-container::-webkit-scrollbar-button:vertical:single-button:increment{
    border-width: 14px 7px 0 7px;
    border-color: var(--color4) transparent transparent transparent;
}

.products-cards-container::-webkit-scrollbar-button:vertical:single-button:decrement{
    border-width: 0 7px 14px 7px;
    border-color: transparent transparent var(--color4) transparent;
}
.products-cards-container::-webkit-scrollbar-button:horizontal:single-button:increment{
    border-width: 7px 0 7px 14px;
    border-color: transparent transparent transparent var(--color4);
}

.products-cards-container::-webkit-scrollbar-button:horizontal:single-button:decrement{
    border-width: 7px 14px 7px 0;
    border-color: transparent var(--color4) transparent transparent;
}

/* Double button disable*/
.products-cards-container::-webkit-scrollbar-button:vertical:start:increment,
.products-cards-container::-webkit-scrollbar-button:vertical:end:decrement, 
.products-cards-container::-webkit-scrollbar-button:horizontal:start:increment, 
.products-cards-container::-webkit-scrollbar-button:horizontal:end:decrement {
    display: none;
}

/* End scroll bar */




/*################## */

/* Contacto */

.contact{
    margin-top: 20px;
    background-color: var(--color4);
    border-radius: 10px;
}

.contact-section{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--color6);
    height: auto;
    border-radius: 10px;
}

.contact-info{
    align-self: flex-start;
    margin-top: 20px;
    gap:30px;
}

.contact-info h2{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color:var(--color2);
}

.location-cards{
    gap: 30px;
}

.location-cards div{
    background-color: var(--color1);
    border-radius: 10px;
    cursor:pointer;
    padding: 20px;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    align-self: stretch;
}

.location-cards div:hover{
    background: linear-gradient(45grad,var(--color8), var(--color9));
    transition: background 1seg;
}

.contact-info div h3{
    margin-top: 20px;
    margin-bottom: 20px;
    color:var(--color4);
    font-weight: 900;
}

.contact-info div p{
    margin-bottom: 10px;
    color:var(--color4);
    text-align: left;
    font-size: 0.8rem;
}

.contact-info div p i::before{
    margin-right: 5px;
    font-size: 0.8rem;
}


.info-social-container{
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 20px;
    gap: 20px;
}

.contact-info p{
    color: var(--color1);
    text-align: center;
}

.info-social-container a i{
    color:var(--color1);
    font-weight: 700;
    font-size: 1.5rem;
    transition: color 0.5s;
}

.info-social-container a i:hover{
    color: var(--color2);
    cursor:pointer;
}

.map-contact-frame iframe{
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 400px;
    max-height: 300px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px var(--color11);
}

/* Footer */

.main-footer{
    margin-top: 20px;
    border-top: 1px solid var(--color7);
    width: 100%;
    height: auto;
    background-color: var(--color11);
}

.main-footer img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px var(--color11);
}






























/* Media queries */

@media (max-width: 1024px){

    *{
        font-size: 14px;
    }

    .main-header{
        flex-direction: column;
    }

    .main-header .burguer-btn{
        display: block;
        order:3;
    }

    .nav-links{
        position: fixed;
        display: block;
        height: 100%;
        top:0px;
        left:-100%;
        width: 40%;
        background-color: var(--color4);
        opacity: 0.8;
        transition: all 0.5s;
        z-index:2;
    }

    .nav-links li{
        margin-top: 40px;
        margin-left: 40px;
        padding-bottom: 15px;
        border-bottom: 1px solid var(--color6);
    }

    .show{
        left: 0;
    } 

    .main-search-bar-form input{
        width: 90%;
    }

    .hero{
        flex-direction: column;
    }

    .info-hero-container{
        margin-bottom: 20px;
    }

    .hero div img{
        max-width: none;
    }

    .products-cards-container{
        grid-template-columns: repeat(2,1fr);
    }

}


@media (max-width: 768px){
    .advantages-cards-section{
        flex-direction: column;
    }

    .products-cards-container{
        grid-template-columns: 1fr;
    }

    .contact-section{
        flex-direction: column;
    }

    .personal-photo{
        width: 100px;
    }
}

@media (max-width: 520px){

    .hero-btn-container{
        flex-direction: column;
    }

    .location-cards{
        flex-direction: column;
    }

    .personal-photo{
        width: 90px;
    }
}


/*#####################*/

@keyframes giro {
    0%{
        transform: rotateY(360grad);
    }
}


@keyframes btn-fx-press {
    20%{
        transform: translateX(2px);
    }

    40%{
        transform:translateX(-4px);
    }

    60%{
        transform: translateX(4px);
    }

    80%{
        transform: translateX(-4px);
    }

    100%{
        transform: translateX(2px);
    }
}